---
---

@import "{{ site.theme }}";

:root {
    --main-color: #363636;
}

p, blockquoute, li, ul {
    line-height: 1.7em;
}

h1, h2, h3 {
    color: var(--main-color);
}

#main_content_wrap h1 {
    margin: 0;
}

#main_content {
    padding: 1em 2em;
}

#main_content_wrap {
    background: white;
    border-top: 0;
}

#navigation {
    margin-top: 2.5em;
}

.copyright {
    text-align: right;
    font-weight: bold;
}

#header_wrap {
    background: white;
}

#header_wrap img {
    border: 0;
    box-shadow: none;
}

#footer_wrap {
    background: var(--main-color);
}

.note {
    border: 3px solid var(--main-color);
    margin: 0.8em 0em;
    font-size: 1.3em;
}

.note a {
    padding: 0.6em 0.8em;
    display: block;
    text-decoration: none;
    background-color: var(--main-color);
    color: white;
}

.note:hover, .note:focus, .note a:hover, .note a:focus {
    transition: background-color 0.5s;
    color: var(--main-color);
    background-color: white;
}
